.heading-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.guitarist-img {
  width: 300px;
  padding-top: 50px;
  align-self: flex-start;
  justify-self: center;
}

.host-img {
  border: 1px solid #fff;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 30px;
}

